<DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8" />
            <title>Page de connexion</title>
            <link rel="styleshet" href="style/index.css" />
        </head>
    <body>
        <% if (error) { %>
            <p><%= error %></p>
          <% } %>
        <form method="post" action="/home">
            <input type="text" name="nom" placeholder="Nom d'utilisateur" />
            <input type="password" name="mdp" placeholder="Mot de passe" />
            <input type="submit" value="Se connecter" />
        </form>
    </body>
    </html>